/*index & others*/

/*fonts:*/
@font-face{
font-family:"amiri";
src:url("fonts/amiri.woff2") format("woff2");
}
@font-face{
font-family:"amiri-bold";
src:url("fonts/amiri-bold.woff2") format("woff2");
}
@font-face{
font-family:"uthman";
src:url("fonts/uthman-tn.woff2") format("woff2");
}
@font-face{
font-family:"uthman-bold";
src:url("fonts/uthman-tn-bold.woff2") format("woff2");
}
@font-face{
font-family:"kitab";
src:url("fonts/kitab-regular.woff2") format("woff2");
}
@font-face{
font-family:"icons";
src:url("fonts/icons.woff2") format("woff2");
}

*, *::after,
*::before{
margin:0;
padding:0;
box-sizing: ;
-webkit-tap-highlight-color:transparent;
}

html{
height:100%;
}

::selection{
color:#ffffff;
background-color:#808080;
text-shadow:0px 0px 5px #2B3C56000;
}

body{
background-image:url("images/background.png");
background-attachment:;
display:flex;
flex-direction:column;
min-height:100%;
opacity:1;
transition:opacity 0.5s ease-in-out;
-webkit-transition:opacity 0.5s ease-in-out;
position: relative;
}

/*header:*/

.header{
width:100%;
height:120px;
background-color:#F9F5DC;
box-shadow:0px 0px 10px #2C323D;
position:fixed;
z-index:1;
}

.header-logo{
height:85%;
float:left;
margin-top:5px;
}

.header-wisdom{
height:85%;
margin:5px 0 0 -75px;

}

/*burger-menu:*/
:root {
  --bar-width: 40px;
  --bar-height: 7px;
  --burger-gap: 5px;
  --foreground: #2B3C56;
  --background: #F9F5DC;
  --burger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --burger-height: calc(var(--bar-height) * 3 + var(--burger-gap) * 2);
}

.burger-menu {
  --x-width: calc(var(--burger-height) * 1.41421356237);
margin: 30px 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: var(--burger-gap);
  width: max-content;
  position: absolute;
  top: var(--burger-margin);
  right: 0;
  left: auto;
  z-index: 5;
position:fixed;
  cursor: pointer;
}

.burger-menu:has(input:checked) {
  --foreground: #F9F5DC ;
  --background: #333;
}

.burger-menu:has(input:focus-visible)::before,
.burger-menu:has(input:focus-visible)::after,
.burger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.burger-menu::before,
.burger-menu::after,
.burger-menu input {
  content: "";
z-index: 5;
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.burger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.burger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.burger-menu:has(input:checked)::after {
  rotate: -45deg;

  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.burger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate 0.5s;
  translate:100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--burger-height) + var(--burger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  width: 200px;
  min-height:40rem;
  border-radius: 0 0 0 50px;
  right: 0;
  left: auto;
z-index: 4;
position: fixed;
box-shadow:0 0 5px #2B3C56;
}

.burger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.menu-content{
display:grid;
grid-template-columns:1fr;
margin:30px auto 30px auto;
font-size:20px;
font-family:amiri-bold;
background-color:transparent;
border:none;
color:#F9F5DC;
text-shadow:1px 1px 5px #2C323D;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
}

#installButton{
text-align :center;
display:inline-block; 
margin-top:0px;
background-color:#F9F5DC; 
color:#2B3C56; 
border-radius:16px 4px 16px 4px; 
padding:3px;
text-shadow:1px 1px 5px #f3eced;
border:double 6px #2B3C56;
}

#installIcon{
display:inline-block;
margin-top:0px;
color:#F9F5DC;
text-shadow:1px 1px 5px #2C323D;
background-color:#2B3C56; 
border-radius:50%;
padding:5px;
}

.menu-content:hover{
-webkit-tap-highlight-color:transparent;
-webkit-font-smoothing: antialiased;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#installButton:hover{
-webkit-tap-highlight-color:transparent;
-webkit-font-smoothing: antialiased;
box-shadow:0px 0px 10px #F9F5DC;
font-size:22.5px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
display:none;
opacity: 0;
transition: opacity 0.2s ease-in-out;
-webkit-transition: opacity 0.2s ease-in-out;
}

.popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #F9F5DC;
padding: 20px;
box-shadow: 0 0 20px #2C323D;
z-index: 1000;
width:80%;
max-height:65%;
border:double 6px #2B3C56;
border-radius: 40px 20px 40px 20px;
color:#2B3C56;
overflow:scroll;
}

.popup-content {
position: relative;
text-align:right ;
font-family: amiri;
right:-10px;
padding:5px 0;
}

.popup-title{
font-family:uthman-bold;
position:relative ;
top:-45px;
font-size:16px;
text-align:center;
}

.popup-stitles{
font-family:uthman-bold;
text-align: right;
position: relative;
right:-10px;
}

.share-rounded{
width:25px;
position: relative;
top:5px;
padding:0;
}

.close-popup {
position: relative;
top: -15px;
right: -15px;
font-size: 16px;
font-family:icons;
background: #F9F5DC;
border-radius:50%;
-webkit-tap-highlight-color:transparent;
padding:5px;
color:#2B3C56;
border: none;
cursor: pointer;
transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
overflow:visible;
z-index: 1001;
}

.close-popup:hover{
font-size:13px;
transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
}

/*mix:*/

img, br, .menu-icon, .close-icon, back-icon{
pointer-events:none;
user-select:none;
}

button{
-webkit-tap-highlight-color:transparent;
}

/*fields:*/

.fields{
padding-top:150px;
position:relative;
opacity:1;
transition:opacity 0.5s ease-in-out;
-webkit-transition:opacity 0.5s ease-in-out;
}

.d-b-a{
opacity:1;
}

.titles{
background-color:#2B3C56;
color:#F9F5DC;
box-shadow:0px 0px 5px #2C323D;
border-radius:30px 5px 30px 5px;
text-align:center;
margin:auto;
width:30%;
padding:2.5px 30px 5px 30px;
position:relative;
bottom:-25px;
font-family:uthman-bold;
font-size:18px;
}

.descriptions{
background-color:#F9F5DC;
color:#2B3C56;
border:double 5px #2B3C56;
border-radius:20px 5px 20px 5px;
text-align:center;
margin:auto;
width:80%;
padding:40px 25px 25px 25px;
font-family:amiri;
box-shadow:0px 0px 5px #2C323D;
}

.bohoth-btns{
border:inset 4px #2B3C56;
background-color:#F9F5DC;
padding:3px 10px;
font-family:amiri;
border-radius:20px 5px;
color:#2B3C56;
box-shadow:0px 0px 5px #2C323D;
font-size:16px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
margin:10px 10px;
}

.bohoth-btns:hover{
border:outset 4px #2B3C56;
font-size:18px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

/*footer:*/

.footer{
width:100%;
background-color:#2B3C56;
height:120px;
box-shadow:0px 0px 10px #2C323D;
margin:auto 0 0 0;
position: absolute;
bottom: 0;
}

.footer-logo{
height:100%;
float:left;
}

.footer-copyright{
height:100%;
float:right;
position:relative;
right:-30px;
top:-120px;
}

.bader-logo{
width:50px;
margin:10px 175px 0 0;
}

/* Styles for screens smaller than 374px */

@media (max-width: 374px) {

.header{
height:100px;
}

.header-logo{
height:85%;
float:left;
margin-top:3px;
}

.header-wisdom{
width:180px;
margin:0px 0 0 -55px;
}

:root {
  --bar-width: 30px;
  --bar-height: 5px;
}

.burger-menu {
margin-top: 20px;
}

.menu-content{
font-size:17px;
}

.menu-content:hover{
font-size:20px;
}

#installButton:hover{
font-size:19.5px;
}

#openButton:hover{
font-size:19.5px;
}

.titles{
width:35%;
bottom:-25px;
font-size:14px;
}

.descriptions{
width:70%;
font-size:14px;
}

.bohoth-btns{
font-size:14px;
}

.bohoth-btns:hover{
font-size:16px;
}

.footer{
height:100px;
}

.footer-logo{
height:95%;
float:left;
}

.footer-copyright{
height:95%;
right:-10px;
top:-100px;
}

.bader-logo{
width:40px;
margin:10px 165px 0 0;
}
}

/*others*/

/*back-button:*/
.back-icon{
font-size:35px;
font-family:icons;
color:#2B3C56;
margin:35px 10px 0 0;
animation:;
z-index:1;
position:absolute;
top:0;
right:0;
}

.icon-large{
font-size:40px;
}

.back-button{
background-color:transparent;
border:none;
position:absolute;
right:0;
top:0;
width:55px;
height:55px;
}

/*iframe:*/

.iframe{
border:5px double #2B3C56;
border-radius:15px;
background-color:;
width:90%;
height:1000px;
margin:0 auto;
}


/*download-button:*/
.download-btn-div{
padding-top:200px;
text-align:center;
}

.download-btn{
background-image:linear-gradient(-124deg,#F9F5DC,#D9C179);
background-attachment:fixed;
border:5px double #2B3C56;
font-family:amiri;
font-size:18px;
color:#2B3C56;
padding:10px;
border-radius:30px 5px;
text-align:center;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

.download-btn:hover{
border:5px double #2B3C56;
background-image:linear-gradient(124deg,#F9F5DC,#D9C179);
background-attachment:fixed;
color:#2B3C56;
padding:10px;
border-radius:30px 5px;
text-align:center;
font-family:amiri;
font-size:19px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

/* Styles for screens smaller than 374px */

@media(max-width: 374px){
.back-icon{
font-size:25px;
font-family:icons;
color:#2B3C56;
margin:30px 10px 0 0;
animation:;
z-index:1;
position:absolute;
top:0;
right:0;
}

.icon-large {
font-size:30px;
}

.download-btn{
font-size:14px;
}

.download-btn:hover{
font-size:15px;
}
}
