/*index & others*/

/*fonts:*/
@font-face{
font-family:"amiri";
src:url("fonts/amiri.woff2") format("woff2");
}
@font-face{
font-family:"amiri-bold";
src:url("fonts/amiri-bold.woff2") format("woff2");
}
@font-face{
font-family:"uthman";
src:url("fonts/uthman-tn.woff2") format("woff2");
}
@font-face{
font-family:"uthman-bold";
src:url("fonts/uthman-tn-bold.woff2") format("woff2");
}
@font-face{
font-family:"kitab";
src:url("fonts/kitab-regular.woff2") format("woff2");
}
@font-face{
font-family:"icons";
src:url("fonts/icons.woff2") format("woff2");
}

*{
margin:0;
padding:0;
}

html{
height:100%;
}

::selection{
color:#ffffff;
background-color:#808080;
text-shadow:0px 0px 5px #2B3C56000;
}

body{
background-image:url("images/background.png");
background-attachment:;
display:flex;
flex-direction:column;
min-height:100%;
opacity:1;
transition:opacity 0.5s ease-in-out;
-webkit-transition:opacity 0.5s ease-in-out;
}

/*header:*/

.header{
width:100%;
height:120px;
background-color:#F9F5DC;
box-shadow:0px 0px 10px #2C323D;
position:fixed;
z-index:1;
}

.header-logo{
height:85%;
float:left;
margin-top:5px;
}

.header-wisdom{
height:85%;
margin:5px 0 0 -75px;

}

/*menu:*/

.menu-box{
height:80px;
width:50%;
position:fixed;
z-index:1;
top:0;
right:0;
overflow-x:hidden;
transition:0.8s;
-webkit-transition:0.8;
box-shadow:none;
text-align:center;
font-size:8px;
opacity:1;
background-color:transparent;
border-radius:0px 0px 0px 50px;
overflow:hidden;
scrollbar-width: none;
-ms-overflow-style: none;
overflow: -moz-scrollbars-none;
}

.menu-content{
display:grid;
grid-template-columns:1fr;
margin:30px auto 30px auto;
font-size:20px;
font-family:amiri-bold;
background-color:transparent;
border:none;
color:#F9F5DC;
text-shadow:1px 1px 5px #2C323D;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
}

.menu-close-icons{
display:inline-block;
cursor:pointer;
-webkit-tap-highlight-color:transparent;
margin:35px 10px 0 0;
position:absolute;
top:0;
right:0;
}

.bars{
width:35px;
height:5px;
background-color:#2B3C56;
margin:6px 0;
transition: 0.4s;
border-radius:8px;
}

.change .bar1{
transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2{
opacity: 0;
}

.change .bar3{
transform: translate(0, -11px) rotate(45deg);
}


#installButton{
display:inline-block; 
margin-top:0px;
background-color:#F9F5DC; 
color:#2B3C56; 
border-radius:16px 4px 16px 4px; 
padding:3px;
text-shadow:1px 1px 5px #f3eced;
border:double 6px #2B3C56;
}

#installIcon{
display:inline-block;
margin-top:0px;
color:#F9F5DC;
text-shadow:1px 1px 5px #2C323D;
background-color:#2B3C56; 
border-radius:50%;
padding:5px;
}

#openButton{
display:none; 
margin-top:0px;
background-color:#F9F5DC; 
color:#2B3C56; 
border-radius:4px 16px 4px 16px; 
padding:3px;
text-shadow:1px 1px 5px #f3eced;
border:double 6px #2B3C56;
}

#openIcon{
display:inline-block;
margin-top:0px;
color:#F9F5DC;
text-shadow:1px 1px 5px #2C323D;
background-color:#2B3C56; 
border-radius:50px;
padding:5px;
}

#about-project-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#our-case-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration:0.1s;
cursor:pointer;
}

#first-field-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#second-field-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#third-field-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#fourth-field-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#fifth-field-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#about-us-btn:hover{
-webkit-tap-highlight-color:transparent;
text-shadow:0px 0px 20px #F9F5DC;
font-size:25px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#installButton:active{
-webkit-tap-highlight-color:transparent;
box-shadow:0px 0px 10px #F9F5DC;
font-size:22.5px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

#openButton:active{
-webkit-tap-highlight-color:transparent;
box-shadow:0px 0px 10px #F9F5DC;
font-size:22.5px;
transition-duration:0.1s;
-webkit-transition-duration: 0.1s;
cursor:pointer;
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
display:none;
opacity: 0;
transition: opacity 0.2s ease-in-out;
-webkit-transition: opacity 0.2s ease-in-out;
}

.popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #F9F5DC;
padding: 20px;
box-shadow: 0 0 20px #2C323D;
z-index: 1000;
width:80%;
height:fit-content;
border:double 6px #2B3C56;
border-radius: 40px 20px 40px 20px;
color:#2B3C56;
}

.popup-content {
position: relative;
text-align:right ;
font-family: amiri;
right:-10px;
padding:5px 0;
}

.popup-title{
font-family:uthman-bold;
position:relative ;
top:-20px;
font-size:16px;
text-align:center;
}

.popup-stitles{
font-family:uthman-bold;
text-align: right;
position: relative;
right:-10px;
}

.share-rounded{
width:25px;
position: relative;
top:5px;
padding:0;
}

.close-popup {
position: absolute;
top: -10px;
right: -10px;
font-size: 16px;
font-family:icons;
background: #F9F5DC;
border-radius:50%;
-webkit-tap-highlight-color:transparent;
padding:5px;
color:#2B3C56;
border:6px double #2B3C56;
cursor: pointer;
transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
}

.close-popup:active{
font-size:10px;
transition-duration: 0.1s;
-webkit-transition-duration: 0.1s;
}

/*mix:*/

img, br, .menu-icon, .close-icon, back-icon{
pointer-events:none;
user-select:none;
}

button{
-webkit-tap-highlight-color:transparent;
}

/*fields:*/

.fields{
padding-top:150px;
position:relative;
opacity:1;
transition:opacity 0.5s ease-in-out;
-webkit-transition:opacity 0.5s ease-in-out;
}

.d-b-a{
opacity:1;
}

.titles{
background-color:#2B3C56;
color:#F9F5DC;
box-shadow:0px 0px 5px #2C323D;
border-radius:30px 5px 30px 5px;
text-align:center;
margin:auto;
width:30%;
padding:2.5px 30px 5px 30px;
position:relative;
bottom:-25px;
font-family:uthman-bold;
font-size:18px;
}

.descriptions{
background-color:#F9F5DC;
color:#2B3C56;
border:double 5px #2B3C56;
border-radius:20px 5px 20px 5px;
text-align:center;
margin:auto;
width:80%;
padding:40px 25px 25px 25px;
font-family:amiri;
box-shadow:0px 0px 5px #2C323D;
}

.bohoth-btns{
border:inset 4px #2B3C56;
background-color:#F9F5DC;
padding:3px 10px;
font-family:amiri;
border-radius:20px 5px;
color:#2B3C56;
box-shadow:0px 0px 5px #2C323D;
font-size:16px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
margin:10px 10px;
}

.bohoth-btns:active{
border:outset 4px #2B3C56;
font-size:18px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

/*footer:*/

.footer{
width:100%;
background-color:#2B3C56;
height:120px;
box-shadow:0px 0px 10px #2C323D;
margin:auto 0 0 0;
}

.footer-logo{
height:100%;
float:left;
}

.footer-copyright{
height:100%;
float:right;
position:relative;
right:-30px;
top:-120px;
}

.bader-logo{
width:50px;
margin:10px 175px 0 0;
}

/* Styles for screens smaller than 374px */

@media (max-width: 374px) {

.header{
height:100px;
}

.header-logo{
height:85%;
float:left;
margin-top:3px;
}

.header-wisdom{
width:180px;
margin:0px 0 0 -55px;
}

.menu-close-icons{
display:inline-block;
cursor:pointer;
-webkit-tap-highlight-color:transparent;
margin:25px 5px 0 0;
position:absolute;
top:0;
right:0;
}

.bars{
width:32px;
height:5px;
background-color:#2B3C56;
margin:6px 0;
transition: 0.4s;
border-radius:8px;
}

.change .bar1{
transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2{
opacity: 0;
}

.change .bar3{
transform: translate(0, -11px) rotate(45deg);
}

.menu-box{
font-size:8px;
}

.menu-content{
font-size:17px;
}

#about-project-btn:hover{
font-size:20px;
}

#our-case-btn:hover{
font-size:20px;
}

#first-field-btn:hover{
font-size:20px;
}

#second-field-btn:hover{
font-size:20px;
}

#third-field-btn:hover{
font-size:20px;
}

#fourth-field-btn:hover{
font-size:20px;
}

#fifth-field-btn:hover{
font-size:20px;
}

#about-us-btn:hover{
font-size:20px;
}

#installButton:active{
font-size:19.5px;
}

#openButton:active{
font-size:19.5px;
}

.titles{
width:35%;
bottom:-25px;
font-size:14px;
}

.descriptions{
width:70%;
font-size:14px;
}

.bohoth-btns{
font-size:14px;
}

.bohoth-btns:active{
font-size:16px;
}

.footer{
height:100px;
}

.footer-logo{
height:95%;
float:left;
}

.footer-copyright{
height:95%;
right:-10px;
top:-100px;
}

.bader-logo{
width:40px;
margin:10px 165px 0 0;
}
}

/*others*/

/*back-button:*/
.back-icon{
font-size:35px;
font-family:icons;
color:#2B3C56;
margin:35px 10px 0 0;
animation:;
z-index:1;
position:absolute;
top:0;
right:0;
}

.icon-large{
font-size:40px;
}

.back-button{
background-color:transparent;
border:none;
position:absolute;
right:0;
top:0;
width:55px;
height:55px;
}

/*iframe:*/

.iframe{
border:5px double #2B3C56;
border-radius:15px;
background-color:;
width:90%;
height:1000px;
margin:0 auto;
}


/*download-button:*/
.download-btn-div{
padding-top:200px;
text-align:center;
}

.download-btn{
background-image:linear-gradient(-124deg,#F9F5DC,#D9C179);
background-attachment:fixed;
border:5px double #2B3C56;
font-family:amiri;
font-size:18px;
color:#2B3C56;
padding:10px;
border-radius:30px 5px;
text-align:center;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

.download-btn:active{
border:5px double #2B3C56;
background-image:linear-gradient(124deg,#F9F5DC,#D9C179);
background-attachment:fixed;
color:#2B3C56;
padding:10px;
border-radius:30px 5px;
text-align:center;
font-family:amiri;
font-size:19px;
-webkit-transition-duration: 0.1s;
transition-duration: 0.1s;
}

/* Styles for screens smaller than 374px */

@media(max-width: 374px){
.back-icon{
font-size:25px;
font-family:icons;
color:#2B3C56;
margin:30px 10px 0 0;
animation:;
z-index:1;
position:absolute;
top:0;
right:0;
}

.icon-large {
font-size:30px;
}

.download-btn{
font-size:14px;
}

.download-btn:active{
font-size:15px;
}
}
